<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% block htmltitle %}{{ HTML Title{% endblock %}</title>
    </head>
    <body>
        <h1>{% block title %}Title{% endblock %}</h1>
        {% block content %}
            Content
        {% endblock content %}
        {% if debug %}
        <h1>Debug</h1>
        <table style="width:80em;">
            <tr>
                <th>Time</th>
                <th>SQL</th>
            </tr>
        {% for query in sql_queries %}
            <tr style="background-color:{% cycle '#CCCCCC' '#DDDDDD' %};">
                <td style="width:10em; background-color:{% cycle '' '' %};">{{ query.time }}</td>
                <td><code>{{ query.sql }}</code></td>
            </tr>
        {% endfor %}
        </table>
        {% endif %}
    </body>
</html>