{% extends "agenda/base.html" %}
{% load agenda %}

{% block content %}
{% if month %}
    {% get_calendar for month year as calendar %}
    <table>
        <tr>
            <th>
                {% if previous_month %} 
                    <a href="{% url agenda-archive-month previous_month.year previous_month.month %}">&lt;</a> 
                {% else %} 
                    - 
                {% endif %} 
            </th>
            <th colspan="5">
                {{ month }}-{{ year }}
            </th>
            <th>
                {% if next_month %} 
                    <a href="{% url agenda-archive-month next_month.year next_month.month %}">&gt;</a> 
                {% else %} 
                    - 
                {% endif %}
            </th>
        </tr>
    {% for week in calendar %}
        <tr>
        {% for day in week %}
            {% ifequal day.month month %}
                {% ifdayin day days %} 
                    <td style="background:gray;"><a href="{% url agenda-archive-day day.year day.month day.day %}">{{ day.day }}</a></td>
                {% else %}
                    <td style="background:gray;">{{ day.day }}</td>
                {% endifdayin %}
            {% else %}
                <td>{{ day.day }}</td>            
            {% endifequal %}
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% endif %}

<table>
{% for object in objects %}
    <tr>
        <td><a href="{% url agenda-detail object.event_date.year object.event_date.month object.event_date.day object.slug %}">{{ object }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
